.img-full {
    width: 350px;
    height: 500px;
    float:left;
    margin: 5px 5px 5px 0;
}
.similar-films {
    width: 100px;
    height: 150px;
}
.tags {
    text-align: center;
}


.horizon-list-li {
    display: inline;
    margin-right: 0px;
    padding: 1px
}

.comments-section {
    padding: 180px;
    margin: 100px;
}

.avatar-img {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    box-shadow: 0 0 0 3px green, 0 0 13px #333 ;
}

.comment-view {
    border-style: solid 2px black;
}

.main-text {
    padding: 0px 100px;
    font-size: 20px;

}

.descripton-text {
    font-size: 20px;
}

.img-preview {
    width: 150px;
    height: 200px;
}
.role {
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    font-size: 20px;
}

.btn-common {
    background-color: darkred;
    border: solid 1px white;
    color: gray;
    padding: 5px 25px;
    text-align: center;
    font-size: 16px;
    float:left;
    float: bottom;
}
.index-title {
    font-weight: bold;
}
.post {
    border-style: solid;
    text-align:center;
    padding: 0px 10px 0px 20px;
    margin:40px;
}
.post-full-view {
    text-align: center;
}

.img-person {
    float: left;
    width: 400px;
    height: 600px;
}

.info-person {
    width:62%;
    float:right;
}

.img-mpaa {
    width: 30px;
    height: 30px;
    padding: 0px 5px 5px 0px;
}

.history-person {
    padding-left: 150px;
    float: none;
    margin-left: 280px;
}



